{% extends 'main.html' %}
{% load staticfiles %}
{% block settings %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}">
<div class="row">
  <div class="small-2 large-6 columns">
          <p>'PROJECT_DIR', {{ PROJECT_DIR }}</p>
          <p>'BASE_DIR ', {{ BASE_DIR }}</p>
          <p>'INSTALLED_APPS',{{ INSTALLED_APPS }}</p>
          <p>'TEMPLATE_DEBUG', {{ TEMPLATE_DEBUG }}</p>
          <p>'MIDDLEWARE_CLASSES',{{ MIDDLEWARE_CLASSES }}</p>
          <p>'FIXTURE_DIRS', {{ FIXTURE_DIRS }}</p>
          <p>'ROOT_URLCONF', {{ ROOT_URLCONF }}</p>
          <p>'WSGI_APPLICATION', {{ WSGI_APPLICATION }}</p>
          <p>'LANGUAGE_CODE', {{ LANGUAGE_CODE }}</p>
  </div>

</div>
{% endblock %}








